<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvin Lopez | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="header">
        <h1>Marvin Lopez</h1>

        <nav class="nav">
            <a href="{{ url_for('home') }}" class="nav__link  {{ 'nav__link--active' if request.path == url_for('home') }}">
                Projects
            </a>
            <a href="{{ url_for('about') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('about') }}">
                About
            </a>
            <a href="{{ url_for('contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('contact') }}">
                Contact
            </a>

        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>