{% extends "base.html" %}

{% block content %}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email: </dt>
                <dd class = "contact__details">
                    <a class = "contact__link" href="mailto:marvinlopez803@gmail.com">
                        marvinlopez803 [at] gmail.com
                    </a>
                </dd>

            </div>
            <div class="contact">
                <dt>Github: </dt>
                <dd class = "contact__details">
                    <a class = "contact__link" href="https://github.com/marvinl803">
                        @marvinl803
                    </a>
                </dd>

            </div>
            <div class="contact">
                <dt>Linkedin: </dt>
                <dd class = "contact__details">
                    <a class = "contact__link" href="https://www.linkedin.com/in/marvin-lopez3/">
                        marvin-lopez3
                    </a>
                </dd>

            </div>
        </dl>
    </main>


{%  endblock %}